{% extends "feedback/base.html" %}
{% block content %}
<form method="post" action="{% url 'feedback:index' %}">
  {% csrf_token %}
  <div class="row">
    <div class="small-12 columns">
      <label>{{ form.type.label }}
        {{ form.type }}
      </label>
    </div>
    <div class="small-12 columns">
      <label>{{ form.content.label }}
        {{ form.content }}
      </label>
    </div>
    <div class="small-12 columns">
      <input type="submit" class="button tiny" value="提交">
    </div>
  </div>
</form>
{% endblock %}
